@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;300;400&family=Saira+Stencil+One&display=swap");
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(100%); }
  75% {
    opacity: 0.2; }
  100% {
    opacity: 1;
    transform: translateX(0%); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "IBM Plex Mono", cursive, calib, monospace, sans-serif;
  font-size: 1.6rem;
  color: #f4f4f4;
  line-height: 1.5;
  background-color: #202020;
  min-height: 100vh; }

.header__scroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  backdrop-filter: blur(1rem);
  z-index: 9999;
  transition: all 400ms ease-in-out; }

.header__container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 2.7rem 0 1rem;
  z-index: 10;
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: 0 blur(1rem); }
  @supports (-moz-appearance: none) {
    .header__container {
      background-color: rgba(32, 32, 32, 0.9); } }
  .header__container::after {
    content: '';
    clear: both;
    display: block; }
  .header__container-logo {
    float: left;
    margin-left: 2rem; }
    .header__container-logo:link, .header__container-logo:visited {
      font-family: "Saira Stencil One", cursive, calib, monospace, sans-serif;
      font-size: 2rem;
      color: #feda4e;
      display: inline-block;
      text-decoration: none;
      transition: all 0.2s; }
    .header__container-logo .fa-circle-up {
      margin-left: 5px; }
    .header__container-logo:focus {
      background-color: #feda4e; }
    .header__container-logo--span {
      font-family: "Saira Stencil One", cursive, calib, monospace, sans-serif;
      font-weight: 600;
      color: #f4f4f4; }
  .header__container__navbar {
    position: absolute;
    top: 100%;
    right: 0;
    height: 100vh;
    width: Min(75vw, 40rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #202020;
    clip-path: circle(0px at top right);
    transition: clip-path ease-out 0.6s; }
    .header__container__navbar--open {
      overflow: hidden;
      clip-path: circle(250% at top right); }
    .header__container__navbar-links:link, .header__container__navbar-links:visited {
      margin: 0 auto 4rem;
      text-align: center;
      font-size: 1.6rem;
      color: #f4f4f4;
      font-weight: 600;
      text-decoration: none; }
    .header__container__navbar-links--open {
      animation: fadeIn cubic-bezier(0.3, -0.01, 0.49, 1) 0.3s forwards; }
    .header__container__navbar-icons, .header__container__navbar-icons--btn {
      font-size: 2rem;
      color: #feda4e; }
    .header__container__navbar-icons--btn {
      padding-right: 1rem; }
    .header__container__navbar .btn {
      display: inline-block;
      border: 1px solid #feda4e;
      padding: 1rem 2rem;
      border-radius: 3px; }
  .header__container-menuToggle {
    position: absolute;
    padding: 2rem 7px;
    right: 2rem;
    top: 2rem;
    cursor: pointer; }
    .header__container-menuToggle .hamburger,
    .header__container-menuToggle .hamburger::before,
    .header__container-menuToggle .hamburger::after {
      content: '';
      display: block;
      background-color: #f4f4f4;
      height: 3px;
      width: 3rem;
      border-radius: 3px;
      transition: all ease-in 0.35s; }
    .header__container-menuToggle .hamburger::before {
      transform: translateY(-7px); }
    .header__container-menuToggle .hamburger::after {
      transform: translateY(4px); }
    .header__container-menuToggle--open {
      transform: rotate(45deg); }
      .header__container-menuToggle--open .hamburger::before {
        opacity: 0; }
      .header__container-menuToggle--open .hamburger::after {
        transform: translateY(-3px) rotate(-90deg); }

.overlay {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: 0 blur(3px);
  z-index: 5; }
  @supports (-moz-appearance: none) {
    .overlay {
      background-color: rgba(32, 32, 32, 0.9); } }
  .overlay--hidden {
    display: none;
    overflow: hidden; }

.noScroll {
  overflow: hidden; }

.scroll-down header {
  transform: translate3d(0, -100%, 0); }

.scroll-up header {
  filter: drop-shadow(0 -1rem 20rem #202020); }

.home {
  display: flex;
  flex-direction: column;
  margin: 5rem 2rem 0; }
  .home-helloMessage {
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
    font-weight: 400; }
  .home-title {
    display: flex;
    flex-direction: column;
    font-family: "Saira Stencil One", cursive, calib, monospace, sans-serif;
    color: #feda4e;
    font-size: clamp(4rem, 8vw, 8rem);
    line-height: 1; }
    .home-title .fa-cog {
      font-size: clamp(3rem, 6vw, 6rem); }
    .home-title .lastName {
      display: flex;
      flex-direction: row;
      align-items: center; }
    @media (min-width: 350px) {
      .home-title {
        flex-direction: row; } }
  .home-introMessage {
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    font-size: 1.6rem;
    font-weight: 400; }
  .home__btn {
    color: #f4f4f4;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin-top: 2rem;
    margin-bottom: 8rem; }
    .home__btn-span {
      border: 1px solid #feda4e;
      border-radius: 3px;
      padding: 1rem 1rem; }

.about {
  background-color: #272727; }
  .about .section-title {
    margin: 0 2rem 0;
    text-transform: uppercase;
    font-family: "Saira Stencil One", cursive, calib, monospace, sans-serif;
    font-size: clamp(2rem, 4vw, 4rem); }
