@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "IBM Plex Mono", monospace, sans-serif;
  font-size: 1.6rem;
  color: #c7ffcb;
  line-height: 1.5;
  background-image: linear-gradient(to right bottom, #1d2121, #0e1311);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(100%); }
  50% {
    opacity: 0.2; }
  100% {
    opacity: 1;
    transform: translateX(0%); } }

.header__container {
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  padding: 1.5rem 0;
  position: relative; }
  .header__container::after {
    content: '';
    clear: both;
    display: block; }
  .header__container-logo {
    float: left; }
  .header__container__navbar {
    position: absolute;
    top: 100%;
    right: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: Min(75vw, 40rem); }
  .header__container-menuToggle {
    position: absolute; }

.noScroll {
  overflow: hidden; }

.header__container {
  background-image: linear-gradient(to top, #1a2a21, #1d2121);
  z-index: 10; }
  .header__container-logo:link, .header__container-logo:visited {
    font-size: 1.6rem;
    color: #c7ffcb;
    display: inline-block;
    text-decoration: none;
    padding: 3px;
    margin-left: 1rem;
    transition: all 0.2s; }
  .header__container-logo:focus {
    background-color: #3c4649; }
  .header__container-logo--span {
    font-weight: 600;
    color: #56b648; }
  .header__container__navbar {
    background-image: linear-gradient(to bottom, #1a2a21, #1d2121);
    clip-path: circle(0px at top right);
    transition: clip-path ease-out 0.4s; }
    .header__container__navbar--open {
      clip-path: circle(250% at top right); }
    .header__container__navbar-icons, .header__container__navbar-icons--btn {
      font-size: 2rem;
      color: #56b648; }
    .header__container__navbar-links--open {
      animation: fadeIn cubic-bezier(0.3, -0.01, 0.49, 1) 0.4s forwards; }
    .header__container__navbar-links:link, .header__container__navbar-links:visited {
      font-size: 1.6rem;
      color: #c7ffcb;
      font-weight: 600;
      text-decoration: none;
      margin: 0 auto 4rem;
      text-align: center; }
    .header__container__navbar .btn {
      display: inline-block;
      border: 3px solid #56b648;
      padding: 1rem 2rem;
      border-radius: 3px; }
    .header__container__navbar-icons--btn {
      padding-right: 1rem; }
  .header__container-menuToggle {
    padding: 1rem;
    right: 1rem;
    top: 2rem;
    cursor: pointer; }
    .header__container-menuToggle .hamburger,
    .header__container-menuToggle .hamburger::before,
    .header__container-menuToggle .hamburger::after {
      content: '';
      display: block;
      background-color: #c7ffcb;
      height: 3px;
      width: 3rem;
      border-radius: 3px;
      transition: all ease-in 0.35s; }
    .header__container-menuToggle .hamburger::before {
      transform: translateY(-7px); }
    .header__container-menuToggle .hamburger::after {
      transform: translateY(4px); }
    .header__container-menuToggle--open {
      transform: rotate(45deg); }
      .header__container-menuToggle--open .hamburger::before {
        opacity: 0; }
      .header__container-menuToggle--open .hamburger::after {
        transform: translateY(-3px) rotate(-90deg); }

.header__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 33, 33, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5; }

.header__overlay--hidden {
  display: none; }
