@import url('https://fonts.googleapis.com/css2?family=Gugi&family=IBM+Plex+Mono:wght@100;300;400&family=Lalezar&family=Saira+Stencil+One&display=swap');

// COLOR VARIABLES

$color-1: #272727;
$color-1-dark: #202020;

$color-2: #feda4e;

$color-3: #a6a6a6;

$color-dark: #241f0b;
$color-light: #f4f4f4;

// FONT VARIABLES
$font-primary: 'IBM Plex Mono', cursive, calib, monospace, sans-serif;
$font-secondary: 'Saira Stencil One', cursive, calib, monospace, sans-serif;
$default-font-size: 1.6rem;
$large-font-size: 4rem;
$small-font-size: 1rem;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;

// ANIMATIONS
$bezier: cubic-bezier(0.3, -0.01, 0.49, 1);

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
	font-family: $font-primary;
	font-size: $default-font-size;
	color: $color-light;
	line-height: 1.5;
	background-color: $color-1;
	min-height: 100vh;
}
