////////////////////////////////////////
// LOGO
.header__container {
	background-image: linear-gradient(to top, $color-1-dark, $color-dark);
	// background-color: $color-dark;
	&-logo {
		&:link,
		&:visited {
			font-size: $default-font-size;
			color: $color-3-light;
			display: inline-block;
			text-decoration: none;
			padding: 3px;
			transition: all 0.2s;
		}

		&:hover,
		&:focus {
			background-color: $color-3;
			// color: $color-3-light;
		}

		.logo__span {
			font-weight: 600;
			color: $color-2-dark;
		}
	}

	////////////////////////////////////////
	// NAVBAR
	&__navbar {
		background-image: linear-gradient(to bottom, $color-1-dark, $color-dark);
		clip-path: circle(0px at top right);
		transition: clip-path ease-out 700ms;

		&--open {
			clip-path: circle(250% at top right);
		}

		&-icons {
			font-size: 2rem;
			color: $color-2-dark;
		}

		&-links--open {
			animation: fadeIn $bezier 0.4s forwards;
		}

		&-links--closed {
			animation: fadeOut $bezier 0.4s forwards;
		}

		&-button {
			padding: 2rem 2rem;
			border: 3px solid $color-2-dark;
		}

		&-links:link,
		&-links:visited {
			font-size: $default-font-size;
			color: $color-3-light;
			font-weight: 600;
			text-decoration: none;
			padding: 2rem 8rem;
			text-align: center;
		}
	}

	////////////////////////////////////////
	// MENU TOGGLE

	&-menuToggle {
		padding: 1rem;
		right: 1rem;
		top: 2rem;
		cursor: pointer;

		.hamburger,
		.hamburger::before,
		.hamburger::after {
			content: '';
			display: block;
			background-color: $color-3-light;
			height: 3px;
			width: 3rem;
			border-radius: 3px;
		}

		.hamburger::before {
			transform: translateY(-7px);
		}

		.hamburger::after {
			transform: translateY(4px);
		}
	}
}
