// No scroll effect on menu dropdown

.noScroll {
	overflow: hidden;
}

////////////////////////////////////////
// LOGO
.header__container {
	background-image: linear-gradient(to top, $color-1, $color-1-dark);
	z-index: 10;
	&-logo {
		&:link,
		&:visited {
			font-size: $default-font-size;
			color: $color-3-light;
			display: inline-block;
			text-decoration: none;
			padding: 3px;
			transition: all 0.2s;
		}

		&:hover,
		&:focus {
			background-color: $color-3;
			// color: $color-3-light;
		}

		&--span {
			font-weight: 600;
			color: $color-2-dark;
		}
	}

	////////////////////////////////////////
	// NAVBAR
	&__navbar {
		// background-image: linear-gradient(to right bottom, $color-1-dark, $color-dark);
		background-image: linear-gradient(to bottom, $color-1, $color-1-dark);
		// background-image: linear-gradient(to right bottom, $color-1, $color-1-dark);
		clip-path: circle(0px at top right);
		transition: clip-path ease-out 0.35s;
		overflow-y: auto;

		&--open {
			clip-path: circle(250% at top right);
		}

		&-icons,
		&-icons--btn {
			font-size: 2rem;
			color: $color-2-dark;
		}

		&-links--open {
			animation: fadeIn $bezier 0.2s forwards;
		}

		&-links:link,
		&-links:visited {
			font-size: $default-font-size;
			color: $color-3-light;
			font-weight: 600;
			text-decoration: none;
			padding: 2.5rem 3rem;
			text-align: center;
		}

		.btn {
			display: inline-block;
			border: 3px solid $color-2-dark;
			padding: 1.5rem 4rem;
			border-radius: 3px;
		}

		&-icons--btn {
			padding-right: 1rem;
		}
	}

	////////////////////////////////////////
	// MENU TOGGLE

	&-menuToggle {
		padding: 1rem;
		right: 1rem;
		top: 2rem;
		cursor: pointer;

		.hamburger,
		.hamburger::before,
		.hamburger::after {
			content: '';
			display: block;
			background-color: $color-3-light;
			height: 3px;
			width: 3rem;
			border-radius: 3px;
			transition: all ease-in 0.35s;
		}

		.hamburger::before {
			transform: translateY(-7px);
		}

		.hamburger::after {
			transform: translateY(4px);
		}

		&--open {
			transform: rotate(45deg);

			.hamburger::before {
				opacity: 0;
			}

			.hamburger::after {
				transform: translateY(-3px) rotate(-90deg);
			}
		}
	}
}

.header__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba($color-1-dark, 0.6);
	backdrop-filter: blur(3px);
	z-index: 5;
}

.header__overlay--hidden {
	display: none;
}
