.header {
	&__container {
		width: 100%;
		max-width: 100rem;
		margin: 0 auto;

		padding: 1.5rem 0;
		position: relative;

		&::after {
			content: '';
			clear: both;
			display: block;
		}

		&-logo {
			float: left;
		}

		&__navbar {
			position: absolute;
			top: 100%;
			right: 0;
			height: 100vh;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: min(75vw 40rem);
		}

		&-menuToggle {
			position: absolute;
		}
	}
}
