* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.carousel__track {
	/* height: 100vh; */
	display: inline-flex;
	overflow: hidden;
	scrollbar-width: none;
	transform: translateX(0);
	transition: transform 0.3s ease-out;
	cursor: grab;
}

.carousel__slide {
	max-height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
}

@media (min-width: 1200px) {
	.slide {
		padding: 3rem;
	}
}

.carousel__slide img {
	max-width: 100%;
	max-height: 100%;
	transition: transform 0.3s ease-in-out;
	border-radius: 4px;
	user-select: none;
	object-fit: cover;
}

.carousel__nav {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5rem;
}

.carousel__button {
	background: transparent;
	color: yellow;
	border: 0;
	font-size: 3rem;
	cursor: pointer;
}

.carousel__button:active {
	background: transparent;
	color: black;
	border: 0;
	font-size: 3rem;
}

.carousel__nav-dots {
	display: flex;
	flex-direction: row;
	gap: 2rem;
}

.carousel__dot {
	border: 0;
	border-radius: 50%;
	width: 1rem;
	height: 1rem;
	background-color: grey;
	cursor: pointer;
}

.carousel__dot.active {
	background-color: yellow;
}

.grabbing {
	cursor: grabbing;
}

.grabbing .carousel__slide img {
	transform: scale(0.9);
}
