@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;300;400&family=Saira+Stencil+One&display=swap');

// COLOR VARIABLES
$color-1: #272727;
$color-1-dark: #202020;
$color-2: #feda4e;
$color-3: #a6a6a6;
$color-dark: #241f0b;
$color-light: #f4f4f4;

// FONT VARIABLES
$font-primary: 'IBM Plex Mono', cursive, calib, monospace, sans-serif;
$font-secondary: 'Saira Stencil One', cursive, calib, monospace, sans-serif;
$default-font-size: 1.6rem;
$large-font-size: 4rem;
$medium-font-size: 2rem;

// ANIMATIONS
$bezier: cubic-bezier(0.3, -0.01, 0.49, 1);

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateX(100%);
	}

	75% {
		opacity: 0.2;
	}

	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

////////////////////////////////////////
// BASE
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
	scroll-behavior: smooth;
}

body {
	font-family: $font-primary;
	font-size: $default-font-size;
	color: $color-light;
	line-height: 1.5;
	background-color: $color-1-dark;
	min-height: 100vh;
}

////////////////////////////////////////
// GLOBAL ITEMS
.section-title {
	margin-bottom: 2rem;
	text-transform: uppercase;
	font-family: $font-secondary;
	font-size: clamp($large-font-size, 4vw, 4rem);
	color: $color-2;

	@media (min-height: 736px) {
		margin-bottom: 5rem;
	}
}

.paragraph--1 {
	color: $color-3;
}

.highlight--1 {
	color: $color-light;
}

.paragraph--2 {
	color: $color-light;
}

.highlight--2 {
	font-weight: bold;
	color: $color-light;
}

////////////////////////////////////////
// LOGO & NAVBAR
.header {
	&__scroll {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		text-align: center;
		backdrop-filter: blur(1rem);
		z-index: 9999;
		transition: all 0.4s ease-in-out;
	}

	&__container {
		position: relative;
		width: 100%;
		margin: 0 auto;
		padding: 2.7rem 0 1rem;
		z-index: 10;

		@supports (-moz-appearance: none) {
			& {
				background-color: rgba($color-1-dark, 0.9);
			}
		}

		&::after {
			content: '';
			clear: both;
			display: block;
		}

		&-logo {
			float: left;
			margin-left: 2rem;

			@media (min-width: 750px) {
				margin-left: 5rem;
			}

			&:link,
			&:visited {
				font-family: $font-secondary;
				font-size: $medium-font-size;
				color: $color-2;
				display: inline-block;
				text-decoration: none;
				transition: all 0.2s;
			}

			.fa-circle-up {
				margin-left: 5px;
			}

			&:focus {
				background-color: $color-2;
			}

			&--span {
				font-family: $font-secondary;
				font-weight: 600;
				color: $color-light;
			}
		}

		&__navbar {
			position: absolute;
			top: 100%;
			right: 0;
			height: 100vh;
			width: Min(75vw, 40rem);
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			background-color: $color-1-dark;
			clip-path: circle(0px at top right);
			transition: clip-path ease-out 0.3s;

			@media (min-width: 750px) {
				display: flex;
				flex-direction: row;
			}

			&--open {
				overflow: hidden;
				clip-path: circle(250% at top right);
			}

			&-links:link,
			&-links:visited {
				margin: 0 auto 4rem;
				text-align: center;

				font-size: $default-font-size;
				color: $color-light;
				font-weight: 600;
				text-decoration: none;

				@media (min-height: 844px) {
					margin: 0 auto 7rem;
				}

				@media (min-height: 896px) {
					.fa-file {
						position: relative;
						top: 4px;
					}
				}

				@media (min-width: 450px) {
					.fa-file {
						position: relative;
						top: 4px;
					}
				}
			}

			&-links--open {
				animation: fadeIn $bezier 0.3s forwards;
			}

			&-icons,
			&-icons--btn {
				font-size: 2rem;
				color: $color-2;

				@media (min-height: 896px) {
					font-size: 3rem;
					margin-bottom: 1rem;
				}

				@media (min-width: 450px) {
					font-size: 3rem;
					margin-bottom: 1rem;
				}
			}

			&-icons--btn {
				padding-right: 1rem;
			}

			.btn {
				display: inline-block;
				border: 1px solid $color-2;
				padding: 1rem 2rem;
				border-radius: 3px;
			}
		}

		////////////////////////////////////////
		// HAMBURGER MENU ICON
		&-menuToggle {
			position: absolute;
			padding: 2rem 7px;
			right: 2rem;
			top: 2rem;

			cursor: pointer;

			@media (min-width: 750px) {
				display: none;
			}

			.hamburger,
			.hamburger::before,
			.hamburger::after {
				content: '';
				display: block;
				background-color: $color-light;
				height: 3px;
				width: 3rem;
				border-radius: 3px;
				transition: all ease-in 0.35s;
			}

			.hamburger::before {
				transform: translateY(-7px);
			}

			.hamburger::after {
				transform: translateY(4px);
			}

			&--open {
				transform: rotate(45deg);

				.hamburger::before {
					opacity: 0;
				}

				.hamburger::after {
					transform: translateY(-3px) rotate(-90deg);
				}
			}
		}
	}
}

////////////////////////////////////////
// BACKGROUND EFFECT WHEN OPENING SIDE MENU
.overlay {
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	// width: 100%;
	height: 100%;
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: 0 blur(3px);
	z-index: 5;

	@supports (-moz-appearance: none) {
		& {
			background-color: rgba($color-1-dark, 0.9);
		}
	}

	&--hidden {
		display: none;
		overflow: hidden;
	}
}

////////////////////////////////////////
// NAVBAR EFFECT WHEN SCROLLING
.noScroll {
	overflow: hidden;
}

.scroll-down {
	header {
		transform: translate3d(0, -100%, 0);
	}
}

.scroll-up {
	header {
		filter: drop-shadow(0 -1rem 20rem $color-1-dark);
	}
}

////////////////////////////////////////
// INTRO MESSAGE
.intro {
	display: flex;
	flex-direction: column;
	margin: 3rem 2rem 0;

	@media (min-height: 736px) {
		margin: 8rem 2rem 0;
	}

	@media (min-height: 844px) {
		margin: 10rem 2rem 0;
	}

	@media (min-height: 915px) {
		margin: 12rem 2rem 0;
	}

	@media (min-width: 450px) {
		margin: 15rem 5rem 0;
	}

	@media (min-width: 750px) {
		margin: 15rem 10rem 0;
	}

	@media (min-width: 1024px) {
		margin: 15rem 15rem 0;
	}

	@media (min-width: 1300px) {
		margin: 15rem 20rem 0;
	}

	@media (min-width: 1700px) {
		margin: 15rem 30rem 0;
	}

	@media (min-width: 1920px) {
		margin: 40rem 40rem 0;
	}

	@media (min-width: 2560px) {
		margin: 40rem 70rem 0;
	}

	&-message {
		margin-bottom: 1.5rem;

		font-size: $default-font-size;
		font-weight: 400;

		@media (min-height: 667px) {
			margin-bottom: 3rem;
		}
	}

	&-title {
		display: flex;
		flex-direction: column;

		font-family: $font-secondary;
		color: $color-2;
		font-size: clamp($large-font-size, 8vw, 8rem);
		line-height: 1;

		@media (min-height: 667px) {
			margin-bottom: 3rem;
		}

		.fa-cog {
			font-size: clamp(3rem, 6vw, 6rem);
			animation: spin 2s infinite linear;
			position: relative;
			top: 1px;
			left: 2px;

			@supports (-moz-appearance: none) {
				& {
					left: 0;
				}
			}
		}

		.lastName {
			display: flex;
			flex-direction: row;
			align-items: center;
		}

		@media (min-width: 350px) {
			flex-direction: row;
		}
	}

	&-description {
		margin-top: 1.5rem;
		// width: 60%;

		font-size: $default-font-size;
		font-weight: 400;

		@media (min-height: 736px) {
			margin-top: 3rem;
		}

		@media (min-width: 450px) {
			max-width: 55rem;
		}
	}

	.btn-link {
		margin: 6rem 0 8rem;
		display: flex;
		justify-content: center;
		text-decoration: none;

		@media (min-height: 600px) {
			margin: 6rem 2rem 20rem;
		}

		@media (min-height: 736px) {
			margin: 8rem 2rem 35rem;
		}

		@media (min-height: 800px) {
			margin: 8rem 2rem 33rem;
		}

		@media (min-height: 800px) {
			margin: 8rem 2rem 35rem;
		}

		@media (min-height: 1024px) {
			margin: 8rem 2rem 45rem;
		}

		@media (min-height: 1180px) {
			margin: 8rem 2rem 60rem;
		}

		@media (min-height: 1280px) {
			margin: 16rem 2rem 60rem;
		}

		@media (min-width: 1920px) {
			margin: 8rem 2rem 50rem;
		}

		@media (min-width: 450px) {
			justify-content: left;
			margin-left: 0;
		}

		.btn--intro {
			font-family: $font-secondary;
			font-size: $medium-font-size;
			padding: 1rem 1rem;
			border: 2px solid $color-1-dark;
			text-decoration: none;
			color: $color-dark;
			background-color: $color-2;
			text-align: center;
			transition: all 0.2s;
			border-radius: 6px;
			box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;

			&:hover {
				background-color: $color-1-dark;
				color: $color-2;
			}
		}
	}
}

////////////////////////////////////////
// ABOUT SECTION
.about {
	display: flex;
	flex-direction: column;
	background-color: $color-1;

	.container {
		margin: 5rem 2rem 0;

		@media (min-height: 736px) {
			margin: 7rem 2rem 0;
		}

		@media (min-width: 450px) {
			margin: 7rem 5rem 0;
		}

		@media (min-width: 750px) {
			margin: 7rem 10rem 0;
		}

		@media (min-width: 1050px) {
			margin: 7rem 15rem 0;
		}

		@media (min-width: 1050px) {
			margin: 7rem 15rem 0;
		}

		@media (min-width: 1300px) {
			margin: 7rem 20rem 7rem;
		}

		@media (min-width: 1700px) {
			margin: 7rem 30rem 0;
		}

		@media (min-width: 1920px) {
			margin: 7rem 40rem 7rem;
		}

		@media (min-width: 2560px) {
			margin: 7rem 70rem 7rem;
		}

		.wrapper {
			@media (min-width: 820px) {
				margin-top: 0;
				margin-bottom: 25rem;
				padding-left: 2rem;
			}

			&__image {
				margin: 3rem 0 3rem;
				text-align: center;

				@media (min-width: 820px) {
					margin-top: 0;
					width: 30rem;
				}

				.profile-image {
					border-radius: 1rem;
					width: 20rem;
					height: auto;

					@media (min-width: 820px) {
						width: 30rem;
						height: auto;
					}
				}
			}

			&__socialMedia {
				&-list {
					display: flex;
					flex-direction: row;
					gap: 3rem;
					justify-content: center;
					font-size: $large-font-size;
					list-style-type: none;
					margin-bottom: 2rem;

					@media (min-width: 820px) {
						font-size: $large-font-size;
					}

					&-icons {
						color: $color-light;

						&-icons:hover {
							color: $color-2;
						}
					}
				}
			}

			@media (min-width: 820px) {
				float: right;
			}
		}

		&__text {
			.btn-link {
				margin: 2rem 0 2rem;
				display: flex;
				justify-content: left;
				text-decoration: none;

				@media (min-width: 975px) {
					margin: 2rem 0 4rem;
				}

				.btn--about {
					text-transform: uppercase;
					font-family: $font-primary;
					font-size: $default-font-size;
					padding: 1rem 1rem;
					border: 2px solid $color-1-dark;
					text-decoration: none;
					color: $color-2;
					background-color: $color-1;
					text-align: left;
					transition: all 0.2s;
					border-radius: 6px;
					box-shadow: rgba(0, 0, 0, 0.5) 2px 8px 4px -6px;
				}

				.fa-medal {
					position: relative;
					margin-right: 1rem;
					font-size: 3.2rem;
					// top: 4px;
				}
			}
		}

		&__skills {
			margin-top: 3rem;
			margin-bottom: 5rem;
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
			grid-gap: 1rem;
			justify-items: center;
			column-gap: 4rem;
			row-gap: 2rem;

			@media (min-height: 736px) {
				margin-bottom: 8rem;
			}

			@media (min-width: 500px) {
				margin: 5rem 0;
				grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
			}

			@media (min-width: 600px) {
				margin: 5rem 0;
				grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
			}

			@media (min-width: 660px) {
				margin: 5rem 0;
				grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
			}

			@media (min-width: 1300px) {
				grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
				column-gap: 1rem;
			}

			&-item {
				width: 7rem;
				text-align: center;
			}

			.caption {
				display: block;
				font-size: 1.3rem;

				@media (min-height: 736px) {
					font-size: 1.4rem;
				}

				@media (min-width: 414px) {
					font-size: 1.4rem;
				}
			}

			.skills__logo {
				width: 5rem;
				height: auto;

				// @media (min-width: 414px) {
				// 	width: 6rem;
				// }

				&--p1 {
					filter: invert(37%) sepia(89%) saturate(2459%) hue-rotate(349deg) brightness(94%) contrast(88%);
				}

				&--p2 {
					filter: invert(35%) sepia(85%) saturate(862%) hue-rotate(173deg) brightness(89%) contrast(93%);
				}

				&--p3 {
					filter: invert(100%) sepia(79%) saturate(5425%) hue-rotate(335deg) brightness(97%) contrast(101%);
				}

				&--p4 {
					filter: invert(69%) sepia(6%) saturate(6600%) hue-rotate(291deg) brightness(83%) contrast(89%);
				}

				&--p5 {
					filter: invert(36%) sepia(21%) saturate(4757%) hue-rotate(335deg) brightness(83%) contrast(91%);
				}

				&--p6 {
					filter: invert(38%) sepia(42%) saturate(2277%) hue-rotate(340deg) brightness(98%) contrast(93%);
				}

				&--p7 {
					filter: invert(29%) sepia(96%) saturate(2944%) hue-rotate(186deg) brightness(94%) contrast(103%);
				}

				&--p8 {
					filter: invert(40%) sepia(60%) saturate(567%) hue-rotate(154deg) brightness(86%) contrast(93%);
				}

				&--p9 {
					filter: invert(48%) sepia(97%) saturate(3997%) hue-rotate(351deg) brightness(96%) contrast(90%);
				}

				&--p10 {
					filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(131deg) brightness(101%) contrast(102%);
				}
			}
		}
	}
}

////////////////////////////////////////
// HIRE SECTION

.hire {
	background-color: $color-2;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	@media (min-width: 1300px) {
		flex-direction: row;
		text-align: left;
	}

	.container {
		margin: 5rem 2rem 5rem;

		@media (min-height: 736px) {
			margin: 7rem 2rem 5rem;
		}

		@media (min-height: 736px) {
			margin: 5rem 2rem 5rem;
		}

		@media (min-width: 450px) {
			margin: 5rem 5rem 5rem;
		}

		@media (min-width: 750px) {
			margin: 5rem 10rem 5rem;
		}

		@media (min-width: 1300px) {
			margin: 5rem 20rem 5rem;
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
			align-items: left;
			gap: 11rem;
		}

		@media (min-width: 1700px) {
			margin: 5rem 30rem 5rem;
		}

		@media (min-width: 1920px) {
			margin: 5rem 40rem 5rem;
		}

		@media (min-width: 2560px) {
			margin: 5rem 70rem 5rem;
		}

		.wrapper {
			@media (min-width: 1300px) {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
			}
		}

		&__icon {
			width: 10rem;

			@media (min-width: 1300px) {
				justify-content: flex-end;
			}
		}

		.section-title {
			margin-top: 2rem;
			color: $color-dark;

			@media (min-height: 736px) {
				margin-top: 4rem;
				margin-bottom: 2rem;
			}

			@media (min-width: 1300px) {
				margin-top: 0;
				margin-bottom: 2rem;
			}
		}

		.paragraph--1 {
			color: $color-dark;
			font-weight: 600;
		}

		.btn-link {
			margin: 6rem 0 0;
			display: flex;
			justify-content: center;
			text-decoration: none;

			@media (min-width: 1300px) {
				margin: 3rem 0 0;
				justify-content: left;
			}

			.btn--hire {
				font-family: $font-secondary;
				font-size: $medium-font-size;
				padding: 1rem 1rem;
				border: 2px solid $color-1-dark;
				text-decoration: none;
				color: $color-dark;
				background-color: $color-2;
				text-align: center;
				transition: all 0.2s;
				border-radius: 6px;
				box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;

				&:hover {
					background-color: $color-1-dark;
					color: $color-2;
				}
			}
		}
	}
}

////////////////////////////////////////
// PROJECTS SECTION

.portfolio {
	.container {
		margin: 4rem 2rem;

		@media (min-height: 736px) {
			margin: 8rem 2rem 8rem;
		}

		@media (min-width: 750px) {
			margin: 8rem 10rem 8rem;
		}

		@media (min-width: 1300px) {
			margin: 8rem 20rem 8rem;
		}

		@media (min-width: 1700px) {
			margin: 8rem 30rem 8rem;
		}

		@media (min-width: 1920px) {
			margin: 8rem 40rem 8rem;
		}

		@media (min-width: 2560px) {
			margin: 8rem 70rem 8rem;
		}
	}

	&__category {
		margin-bottom: 2rem;

		display: flex;
		flex-wrap: wrap;
		justify-content: left;
		list-style-type: none;
		gap: 1rem;
	}

	.btn {
		font-family: $font-primary;
		font-size: $default-font-size;
		padding: 1rem 1rem;
		border: 2px solid $color-2;
		text-decoration: none;
		color: $color-2;
		background-color: $color-1-dark;
		text-align: center;
		transition: all 0.2s;
		border-radius: 3px;
		box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;

		&--active,
		&:hover {
			background-color: $color-2;
			color: $color-1-dark;
			cursor: pointer;
		}
	}

	.projects-list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
		gap: 6vw;
		align-items: stretch;
		animation: fadeIn 0.5s ease-in-out;
		transition: ease-in-out 1s;

		@media (min-width: 380px) {
			grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
			gap: 6vw;
		}

		@media (min-width: 556px) {
			grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
			gap: 4vw;
		}

		@media (min-width: 990px) {
			grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
			gap: 2vw;
		}

		@media (min-width: 1235px) {
			grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
			gap: 2vw;
		}

		@media (min-width: 1920px) {
			gap: 1vw;
		}
		.modal-trigger.project {
			&--hide {
				display: none;
			}
			&--show {
				animation: fadeIn 0.5s ease-in-out;
			}
			.project {
				img {
					max-width: 100%;
					height: auto;
					object-fit: cover;
					border-radius: 6px;
				}
			}
		}
	}

	// MODAL

	.modal {
		position: fixed;
		width: 100%;
		height: 100%;
		margin: 0;
		top: 0;
		left: 0;

		background-color: $color-1;
		z-index: 9999;
		opacity: 1;
		overflow-y: scroll;

		@media (min-width: 1024px) {
			display: flex;
		}

		&--hidden {
			opacity: 0;
			z-index: -9999;
			overflow-y: hidden;
		}

		&__container {
			margin: 2rem 2rem 4rem;
			// align-items: center;
			// justify-content: center;

			@media (min-width: 450px) {
				margin: 2rem 3rem 4rem;
			}

			@media (min-width: 1024px) {
				margin: 8rem 8rem 4rem;
			}

			@media (min-width: 1300px) {
				margin: 8rem 15rem 4rem;
			}

			@media (min-width: 1920px) {
				margin: 8rem 12rem 4rem;
			}

			@media (min-width: 2000px) {
				margin: 8rem 40rem 4rem;
			}

			@media (min-width: 2560px) {
				margin: 8rem 60rem 4rem;
			}

			@media (min-width: 1024px) {
				display: flex;
				flex-wrap: wrap;
				flex-direction: row-reverse;
			}

			.wrapper {
				@media (min-width: 1024px) {
					flex-basis: 100%;
				}
			}

			&-close {
				position: fixed;
				top: 1.2rem;
				right: 2rem;
				font-size: 5rem;
				color: $color-light;
				cursor: pointer;
				border: none;
				background: none;

				@media (min-width: 1024px) {
					top: 30rem;
					right: 4rem;
				}

				@media (min-width: 1920px) {
					top: 30rem;
					right: 4rem;
				}
			}

			.carousel {
				margin: 8rem auto 0;
				overflow: hidden;

				@media (min-width: 1024px) {
					margin: 8rem auto 0;
					float: right;
					width: 40%;
				}

				&__track {
					display: inline-flex;
					overflow: hidden;
					scrollbar-width: none;

					.carousel__slide {
						display: flex;
						align-items: center;
						justify-content: center;

						.carousel__image {
							max-width: 100%;

							@media (min-width: 600px) {
								max-width: 80%;
							}

							border-radius: 10px;
							// height: auto;
							// user-select: none;
							// object-fit: cover;
						}
					}
				}

				&__nav {
					margin-top: 2rem;
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 4rem;

					.carousel__button {
						background: transparent;
						color: $color-2;
						border: 0;
						font-size: 4rem;
						cursor: pointer;

						&:active {
							color: $color-3;
						}
					}

					&-dots {
						display: flex;
						flex-direction: row;
						gap: 3rem;

						.carousel__dot {
							border: 0;
							border-radius: 50%;
							width: 1.5rem;
							height: 1.5rem;
							background-color: $color-light;
							cursor: pointer;

							&.active {
								background-color: $color-2;
							}
						}
					}
				}
			}

			.modal__content {
				margin-top: 4rem;
				display: flex;
				flex-direction: column;

				@media (min-width: 1024px) {
					max-width: 60%;
					padding-right: 4rem;
				}

				.section-title {
					color: $color-2;
					margin-bottom: 2rem;
				}

				.paragraph--2 {
					margin-bottom: 3rem;
				}

				&-list {
					margin: 0 2rem 2rem;

					li:not(:last-child) {
						margin-bottom: 2rem;
					}
				}

				&-info {
					padding: 0;
					margin: 0;
					list-style: none;

					&__single {
						.paragraph--2 {
							margin-bottom: 1rem;

							.highlight--2 {
								color: $color-2;
							}
						}
					}
				}

				&-links {
					display: flex;
					flex-direction: row;
					gap: 5rem;
					justify-content: left;
					align-items: center;
					margin-top: 2rem;

					text-decoration: none;

					&.btn {
						background-color: $color-1;

						&:hover {
							background-color: $color-2;
							color: $color-1-dark;
						}
					}

					&.icon {
						color: $color-light;
						font-size: $large-font-size;

						&:hover {
							color: $color-2;
							transform: scale(1.2);
							transition: ease 0.1s;
						}
					}
				}
			}
		}
	}
}

.contact {
	display: flex;
	flex-direction: column;

	background-color: $color-1;

	.container {
		margin: 4rem 2rem;

		@media (min-width: 450px) {
			margin: 8rem 5rem 8rem;
		}

		@media (min-height: 736px) {
			margin: 4rem 5rem;
		}

		@media (min-width: 750px) {
			margin: 4rem 10rem;
		}

		@media (min-width: 1300px) {
			margin: 4rem 20rem;
		}

		@media (min-width: 1700px) {
			margin: 4rem 30rem;
		}

		@media (min-width: 1920px) {
			margin: 4rem 40rem;
		}

		@media (min-width: 2560px) {
			margin: 4rem 70rem;
		}

		&__contact-link {
			margin: 6rem 0 8rem;
			display: flex;
			justify-content: center;
			text-decoration: none;

			@media (min-width: 450px) {
				justify-content: left;
			}

			.btn {
				font-family: $font-secondary;
				font-size: $medium-font-size;
				padding: 1rem 1rem;
				border: 2px solid $color-2;

				color: $color-2;
				background-color: $color-1;
				transition: all 0.2s;
				border-radius: 6px;
				box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;

				&:hover {
					background-color: $color-1;
					color: $color-2;
				}
				/////////
				.fas {
					position: relative;
					top: 4px;
				}
			}

			&--mail {
				margin-right: 1rem;
				font-size: 3rem;
			}
		}

		&__contact-info {
			display: flex;
			flex-direction: column;

			@supports (-moz-appearance: none) {
				& {
					gap: 1rem;
				}
			}

			.fas {
				position: relative;
				top: 2px;

				font-size: $medium-font-size;
				color: $color-2;
			}
		}
	}
}

.footer {
	background-color: $color-1-dark;
	font-size: 1.2rem;

	.container {
		margin: 2rem 2rem;

		@media (min-width: 750px) {
			margin: 2rem 10rem;
		}

		&__socialMedia {
			&-list {
				margin: 0 0 2rem;

				display: flex;
				flex-direction: row;
				justify-content: space-around;

				font-size: 3rem;
				list-style-type: none;

				@media (min-width: 750px) {
					justify-content: center;
					gap: 4rem;
				}

				&-icons {
					color: $color-light;

					.fab:hover {
						color: $color-2;
						transform: scale(1.2);
						transition: ease 0.1s;
					}

					.fas:hover {
						color: $color-2;
						transform: scale(1.2);
						transition: ease 0.1s;
					}
				}
			}
		}

		&__text {
			text-align: center;
		}
	}
}
