@import url('https://fonts.googleapis.com/css2?family=Anton&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
	font-family: 'PT Sans', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

section {
	align-items: center;
	justify-content: center;
	text-align: center;
}

.main {
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
